#page    {
width: 1000px;
margin: 30 auto;
padding: 20 30;
background-color: white; 
}

html {
    display: table;
    margin: auto;
}

body {
background-color: #CCCCFF;

}

p{
font-family: Arial;
color: black;
font-size: 18pt;
text-align:justify;
line-height: 150%;
}

{head
  font-family:Arial;
  color:grey;
}
